# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# bazel files
bazel
bazel-bazel-test
bazel-bin
bazel-genfiles
bazel-out
bazel-testlogs
bazel-vagrant
bazel-sturgeon
.vagrant/
Vagrantfile
.idea/

# target
target

# ide
.vscode
